/* serach bar css code taken from: https://www.w3schools.com/howto/howto_css_search_button.asp */
* {
    box-sizing: border-box;
  }
.column{
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
th{
    text-align: left;
}